@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;    
 }

header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.279);
    width: 400px;
}

.imagem {
    background-color: grey; 
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}